#middle {
    background-color: #EFEFEF;
    color: rgb(51, 51, 51);
    min-height: 150%;
}

#sides { 
	background-color: #B40D25;
	min-height: 150%;
}

#footer {
	position: absolute;
	bottom: 0;
	right: 0;
}