{% load staticfiles %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/fullcalendar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'scheduler/schedulerstyles.css' %}" />
<script src="{% static 'fullcalendar/lib/jquery.min.js' %}"></script>
<script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
<script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
<script src="{% static 'scheduler/calendarcode.js' %}"></script>

<head>
	<title>Carleton Schedule Optimizer</title>
</head>

<body>

	<div class='row' id='wrap'>
			<div class="col-md-2" id='sides'></div>

			<div class="col-md-8" id='middle'>
				<h3 align="center">Carleton Schedule Optimizer</h3>
				<p>Welcome to the Carleton Schedule Optimizer! This web app grabs course data from Carleton University's website and uses it to build an "optimal" schedule. Optimal in this case means a schedule with the fewest number of breaks between classes.
				Fill in the semester of interest along with each of the courses you want to take in the text boxes below. Please input the courses in the format XXXX1000, where XXXX is the department code and 1000 is the course code. Submit an empty form to see the results for an example semester.</p>

			    <div class="row">
			      <div class="col-md-4" id="form">

							<form action="" method="post">
							    {% csrf_token %}
							    {{ form.as_p }}
							    <input type="submit" value="Submit" />
							</form>

						</div>
			        <div class="col-md-8">

								{% if result %}
										<p><strong>Optimal Schedule Results:</strong><p>
										<div id="result">{{ result|linebreaksbr }}</div>

										<script>
											$(document).ready(function() {
												var sections = {{ djangoJSON|safe }};
												var section;

												for (section in sections) {
													title = sections[section].title;
													courseCode = sections[section].courseCode;
													start = (
														function () {
															var time = sections[section].start;
															if (time.substring(3,5) == '05') {
													      time = time.substring(0,3)+'00';
													    }
													    else { // Here the start time is XX:35
													      time = time.substring(0,3)+'30';
													    }
													    return time;
														}
													)();
													end = (
														function () {
															var time = sections[section].end;
															if (time.substring(3,5) == '25') {
													      time = time.substring(0,3)+'30';
													    }
													    else { // Here the end time is XX:55
													      time = ''+(parseInt(time.substring(0,2))+1)+':00';
													    }
													    return time;
														}
													)();
													day = sections[section].day;
													courseType = sections[section].courseType;
													room = sections[section].room;
													prof = sections[section].prof;

													if (prof === '') {
														prof = 'Prof TBA'
													}
													if (room === '') {
														room = 'Room TBA'
													}

													if (courseType == 'Lecture') {
														colour = 'blue';
														courseCode = courseCode+' '+courseType+'\n'+prof+'\n'+room;
													}
													else if (courseType == 'Lab') {
														colour = 'red';
														courseCode = courseCode+' '+courseType+'\n'+prof+'\n'+room;
													}
													else { // Here we have a tutorial
														colour = 'green';
														courseCode = courseCode+' '+courseType+'\n'+room;
													}
													addCalanderEvent(courseCode, start, end, [day], colour);
												}
											});
										</script>

								{% endif %}

								{% if error %}
									<p><strong>{{ error|safe}}</strong><p>
								{% endif %}

							</div>
			    </div>

					<div id='calendar'></div>

			    <div id='footer'>Designed and developed by <a href='http://seanrt.github.io/'>Sean Tohidi</a></div>
			</div>

			<div class="col-md-2" id='sides'></div>
	</div>

</body>
