{% load staticfiles %}
{% load bootstrap3 %}

<script src="{% static 'fullcalendar/lib/jquery.min.js' %}"></script>
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/fullcalendar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'scheduler/schedulerstyles.css' %}" />
<script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
<script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
<script src="{% static 'scheduler/calendarcode.js' %}"></script>

<head>
	<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
	<title>Carleton Schedule Optimizer</title>
</head>

<body>

	<div class='row' id='wrap'>
			<div class="col-md-2" id='sides'></div>

			<div class="col-md-8" id='middle'>
				<h3 align="center">Carleton Schedule Optimizer</h3>
				<p>Welcome to the Carleton Schedule Optimizer! This web app grabs course data from Carleton University's website and uses it to build an "optimal" schedule. Optimal in this case means a schedule with the fewest number of breaks between classes.
				Fill in the semester of interest along with each of the courses you want to take in the text boxes below. Please input the courses in the format XXXX1000, where XXXX is the department code and 1000 is the course code. Submit an empty form to see the results for an example semester.</p>

			    <div class="row">
			      <div class="col-md-4" id="form">

							<form action="" method="post">
							    {% csrf_token %}
							    {{ form.as_p }}
							    <input type="submit" value="Submit" />
							</form>

						</div>
			        <div class="col-md-8">

								{% if result %}
										<p><strong>Optimal Schedule Results:</strong><p>
										<div id="result">{{ result|linebreaksbr }}</div>

										<script>
											$(document).ready(function() {
												var sections = {{ djangoJSON|safe }};
												addSectionsToCalendar(sections);
											});
										</script>

								{% endif %}

								{% if error %}
									<p><strong>{{ error|safe}}</strong><p>
								{% endif %}

							</div>
			    </div>

					<div id='calendar'></div>

			    <div id='footer'>Designed and developed by <a href='http://seanrt.github.io/'>Sean Tohidi</a></div>
			</div>

			<div class="col-md-2" id='sides'></div>
	</div>

</body>
