{% load staticfiles %} {% load bootstrap3 %}
{% load crispy_forms_tags %}
<script src="{% static 'fullcalendar/lib/jquery.min.js' %}"></script>
<script src="{% static 'scheduler/js/jquery-ui.js' %}"></script>
{% bootstrap_css %} {% bootstrap_javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'fullcalendar/fullcalendar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'scheduler/schedulerstyles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'scheduler/css/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
<script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
<script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
<script src="{% static 'scheduler/calendarcode.js' %}"></script>
<script src="{% static 'scheduler/js/jquery.ui.touch-punch.min.js' %}"></script>


<head>
	<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
	<title>Carleton Schedule Optimizer</title>
</head>

<body>
	<div class="navbar-custom">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="col-xs-6" id="app-title">
					Carleton Schedule Optimizer
				</div>
				<div class="col-xs-6" id="carleton-logo">
					<img src="{% static 'images/carletonLogo.png' %}" />
				</div>
			</div>
		</div>
	</div>

	<div class="container-fuild main-content">
		<div class='row-fluid'>
			<!-- <h3 align="center">Carleton Schedule Optimizer</h3>
				<p>Welcome to the Carleton Schedule Optimizer! This web app grabs course data from Carleton University's website and uses it to build an "optimal" schedule. Optimal in this case means a schedule with the fewest number of breaks between classes.
				Fill in the semester of interest along with each of the courses you want to take in the text boxes below. Please input the courses in the format XXXX1000, where XXXX is the department code and 1000 is the course code. Submit an empty form to see the results for an example semester.</p> -->
			<div class="col-md-3 input-form" id="form">
					{% csrf_token %}
					{% crispy form %}
					<div class="Heading">
						<button type="button" class="btn carleton-btn pull-right" id="addFilterBtn">
							<span class="pull-left glyphicon glyphicon-plus" aria-hidden="true"></span><span>Add Filter</span>
						</button>
					</div>
					<div class="filters">
					</div>
					<button id="form-submit" class="btn carleton-btn col-xs-12">Submit</button>
			</div>

			<!-- This div covers the text above the calendar -->
			<div class="col-md-8" id="results">
				{% if result %}
						<p style="text-align: center;"><strong>{{ result|linebreaksbr }}</strong></p>
				{% elif error%}
						<p style="text-align: center;"><strong>{{ error|safe}}</strong><p>
				{% else %}
						<p style="text-align: center;"><strong>Submit an empty form to see the results for an example semester</strong></p>
				{% endif %}
			</div>

			<!-- This script sets up the data and functions for the calendar -->
			{% if result %}
			<script>
				$(document).ready(function() {
					var currentSchedule = 0;

					// schedules is a JSON file containing all of the returned schedules
					var schedules = {{djangoJSON | safe}};
					addSectionsToCalendar(schedules[currentSchedule]);

					var previous = document.getElementById('previous');
					var next = document.getElementById('next');
					var scheduleNumber = document.getElementById('scheduleNumber');
					updateCurrentSchedule(schedules, currentSchedule);

					previous.onclick = function() {
						currentSchedule = previousClick(schedules, currentSchedule);
					};
					next.onclick = function() {
						currentSchedule = nextClick(schedules, currentSchedule);
					};
				});
			</script>
			{% endif %}

			<!-- This div houses the previous/next buttons as well as the calendar -->
			<div class="col-md-8">
				<div id='buttons' style='text-align: center'>
					<div style="float: right;">
						<button id="next" class="btn btn-default carletonColour carleton-btn">Next Schedule</button>
					</div>
					<div style="float: left;">
						<button id="previous" class="btn btn-default carletonColour carleton-btn">Previous Schedule</button>
					</div>

					<!-- This span css needs to be fixed so that the text is vertically centered -->
					{% if result %}
						<div><span id="scheduleNumber"></span></div>
					{% endif %}

				</div>
				<div id='calendar'></div>
			</div>

			<div id='footer'>Designed and developed by <a href='http://seanrt.github.io/'>Sean Tohidi</a></div>
		</div>
		<!-- end of body row-->
	</div>
	<!-- end of body container-->
</body>
