@media all and (max-width: 1000px) {
  #sides {
    display: none;
  }

  #footer {
    display: none;
  }
}

body {
  background-color: #EFEFEF;
}

#wrap {
	margin: 0 auto;
}

#middle {
    color: rgb(51, 51, 51);
    height: 100%;
    width: 75%;
}

#sides { 
	background-color: #B40D25;
	height: 100%;
	width: 12.5%;
}

#footer {
	position: absolute;
	bottom: 0;
	right: 0;
}

#results {
	width: 100%;
	height: 60%;
}