body {
  background-color: #EFEFEF;
}

#wrap {
	margin: 0 auto;
}

#middle {
    color: rgb(51, 51, 51);
    height: 100%;
    width: 75%;
}

#sides {
	background-color: #B40D25;
	height: 185%;
	width: 12.5%;
}

#footer {
  top: 10px;
  position: relative;;
  float: right;
}

#result {
	width: 100%;
	height: 40%;
  overflow-y: scroll;
}

/*This is for the calendar*/
.fc-today {
  background: #EFEFEF !important;
}

.fc-time-grid-event.fc-short .fc-time,.fc-time-grid-event .fc-time{
  display: none !important;
}

/*This block is for viewing the page on mobile*/
@media all and (max-width: 1000px) {
  #middle {
    width: 100%;
  }

  #sides {
    display: none;
  }

  #footer {
    display: none;
  }
}
